@charset "utf-8";
/* css document*/

body {
	background-color:#B0B1B3;
	width:980px;
	margin-left:auto;
	margin-right:auto;
	}
	
h2, h3{
	color:#670000;
	}
	
#header img{
	border-style: none;
	}
	
pre{
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
			
#wrapper{
		width:980px;
		margin-left:auto;
		margin-right:auto;
		}
		
		
#header{
		width:970px;
		height: 50px;
		background-color:#670000;
		padding-top:10px;
		margin-bottom:5px;
		padding-left:10px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		}
		
.login a:link, a:visited  {text-decoration:none;
							color:#E4E1DE;
							border-style: none;
						}

.login a:hover, a:active {text-decoration:none;
							color:#E4E1DE;
							border-style: none;
						}
.login{
		width:220px;
		float:left;
		margin-top:15px;
		}

		
#banner{
		width:280px;
		background-color:#670000;
		float:left;
		}
		
#search{
		width:420px;
		background-color:#670000;
		margin-left:10px;
		margin-top:10px;
		margin-right:10px;
		padding-right:15px;
		float:left;
		}

#search form{
	width:410px;
	margin-left:10px;
}

#search .search {
	padding-left:6px;
	width:350px;
	height:20px;
}

#search .rounded {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	}
	
#livesearch {
  width:200px;
  display:block;
  position:absolute;
  background-color: #670000;
  padding: 2px;
}

#livesearch li{
			  list-style-type:none;
			  border-bottom: 1px solid #FFA03D;
			}

#livesearch a { 
				text-decoration:none;
				}

#logo{
		width:50%;
		float:left;
		background-image: url("../images/logo.gif");
		background-size: 100% 100%;
		padding-top:5px;
		background-color: transparent;
		}
		
#nav{
	width:970px;
	float:left;
	background-color:#670000;
	padding-left:10px;
	padding-left:10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	}

#nav a:link,a:visited
	{
	font-size: 20px;
	padding-left: 43px;
	padding-right: 43px;
	color:#FFA03D;
	background-color:#670000;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	}
	
#nav a:hover,a:active
	{
	background-color:grey;
	}

#nav a: ul{
		list-style-type:none;
		margin:0;
		padding:0;
		} 

#nav ul{
		list-style-type:none;
		padding:0;
		} 
		
#nav li
		{
		display:inline;
		float:center;
		}
		
			
#content{
		width:970px;
		min-height:400px;
		float:left;
		padding-top:10px;
		padding-left:10px;
		padding-bottom:10px;
		text-align:left;
		background-color:grey;
		border-radius: 15px;
		-moz-border-radius: 15px;
		}
		
#content ul{
		list-style-type:none;
		margin:5;
		} 
				
#content a:link {text-decoration:none;
					color:#29477f;
					}
		
#content a:visited {text-decoration:none;
						color:#ada4a4;
						}
#content a:hover {text-decoration:none;
					color:#CD0000;
					}
#content a:active {text-decoration:none;
					color:#000;
					}

					
#pages {
			width:200px;
			float:right;
			}
					
			
#pages a:link {text-decoration:none;
					color:#CD0000;
					}
					
								
				
#footer{
		width:945px;
		height:50px;
		padding-top:10px;
		padding-left:35px;
		background-color:#FFA03D;
		background-repeat:no-repeat;
		background-position:center; 
		margin-top:10px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		}
						
#footer a:link {text-decoration:none;
					color:#670000;
					}
		
#footer a:visited {text-decoration:none;
						color:#fff;
						}
#footer a:hover {text-decoration:none;
					color:#8EE5EE;
					}
#footer a:active {text-decoration:none;
					color:#000;
					}
		
.break{
		clear:both;
		}

#featuredwrap{
			width:650px; 
			background:grey;
			float:left;
			}	

#featuredinfo{
			width:650px; 
			background:#B0B1B3;
			min-height:180px;    
			float:left;
			padding:5px;
			}	
#featuredinfo h3 { color: #670000;} 
			
#newvids{ 
	width:270px; 
	min-height:440px; 
	height:320px; 
	margin-left:25px;   
	margin-right:15px; 
	padding-bottom:10px; 
	float:right;
	background:#B0B1B3;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

#newvids h3 { color: #670000;} 

#newvids img { border-style: none;;} 

#newvids li { list-style: none;} 

#newvids ul { float: center;
			padding-left: 75px;
			padding-right: 70px;
			} 
			
div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #B0B1B3;
	
	text-decoration: none; /* no underline */
	color: #670000;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #670000;
	color: #670000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #FFA03D;
		
		font-weight: bold;
		background-color: #FFA03D;
		color:#670000;
}
div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
}
	

		
		